<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="ROOT_APPENDER_APP" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyyMMdd" />
        <param name="Append" value="true" />
        <param name="File" value="${catalina.base}${file.separator}logs${file.separator}${file.separator}spring_app.log" />
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd/MM/yyyy}; %d{HH:mm:ss}; %p; {%C->%M} %m%n" />
        </layout>
    </appender>

    <appender name="ERROR_APPENDER_APP" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyyMMdd" />
        <param name="Append" value="true" />
        <param name="File" value="${catalina.base}${file.separator}logs${file.separator}${file.separator}error_spring_app.log" />
        <param name="threshold" value="error" />
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd/MM/yyyy HH:mm:ss,SSS}] {%C->%M} %m%n" />
        </layout>
    </appender>

    <appender name="DEBUG_APPENDER_APP" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyyMMdd" />
        <param name="Append" value="true" /> 
        <param name="File" value="${catalina.base}${file.separator}logs${file.separator}debug_spring_app.log" />
        <param name="threshold" value="debug" />
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd/MM/yyyy}; %d{HH:mm:ss}; %p; {%C->%M} %m%n" />
        </layout>
    </appender>

    <appender name="INFO_APPENDER_APP" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyyMMdd" />
        <param name="Append" value="false" />
        <param name="File" value="${catalina.base}${file.separator}logs${file.separator}${file.separator}info_spring_app.log" />
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd/MM/yyyy}; %d{HH:mm:ss}; %p; %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="info" />
            <param name="LevelMax" value="warn" />
        </filter>
    </appender>

    <logger name="com.springapp">
        <level value="DEBUG" />
        <appender-ref ref="INFO_APPENDER_APP" />
        <appender-ref ref="ERROR_APPENDER_APP" />
        <appender-ref ref="DEBUG_APPENDER_APP" />
    </logger>


    <root>
        <!-- Debería cambiarse por FATAL en producción. -->
        <level value="INFO" />
        <appender-ref ref="ROOT_APPENDER_APP" />
    </root>

</log4j:configuration>